.background {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex; /* Center content */
  padding: 0%;
  margin: 0%;
  top: 0;
  position: fixed;
  left: 0;
  overflow-y: auto;
  background-color: black;
}
.template-box {
  border: solid;
  border-color: whitesmoke;
  border-width: 1px;
  top: 100vh;
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: auto;
  margin-top: 2%;
  justify-self: center;
  flex-direction: column;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}
.home--column1 {
  position: relative;
  background-color: gray;
  height: 20vh;
}

.home--column2 {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.home--text {
  color: white;
  z-index: 2;
}
.home--button {
  color: greenyellow;
  position: inherit;
  width: 0.4vw;
  height: 3vh;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.home--button-transparent {
  background-color: transparent; /* No background */
  border: 2px solid transparent; /* No border */
  position: inherit;
  width: 1vw;
  height: 3vh;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.circular-image {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Same as width for a perfect circle */
  border-radius: 50%; /* Makes the image circular */
  top: 90px;
  left: 10px;
  object-fit: cover; /* Ensures the image fits without distortion */
  border: 2px solid #ccc; /* Optional: Add a border */
}

.maintext {
  top: 250px;
  display: flex;
  position: relative;
  font-size: 40px;
  justify-content: center;
  color: white;
  z-index: 2;
}
